<head>
    <meta charset="utf-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>MyFamily</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css"/>
    <link rel="manifest" href="/manifest.json">
    <!--build:css public/css/styles.min.css--><!--
    <link rel="stylesheet" href="../../public/stylesheets/monthly.css"/>
    <link rel="stylesheet" href="../../node_modules/getmdl-select/getmdl-select.min.css"/>
    <link rel="stylesheet" href="../../public/stylesheets/simplePagination.css"/>
    <link rel="stylesheet" href="../../public/stylesheets/styles.css"/>
    <link rel="stylesheet" href="../../node_modules/intro.js/introjs.css"/>
    <link rel="stylesheet" href="../../node_modules/intro.js/themes/introjs-modern.css">
    <link rel="stylesheet" href="../../public/stylesheets/datepicker.css"/>
    <!--endbuild-->
    <!--</Deject>-->
    <link rel="stylesheet" href="/stylesheets/monthly.css"/>
    <link rel="stylesheet" href="/npm/getmdl-select/getmdl-select.min.css"/>
    <link rel="stylesheet" href="/npm/intro.js/introjs.css"/>
    <link rel="stylesheet" href="/npm/intro.js/themes/introjs-modern.css">
    <link rel="stylesheet" href="/stylesheets/simplePagination.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" href="/stylesheets/datepicker.css"/>
    <!--</Deject>-->    
    <link rel="icon" href="favicon.ico">
    <% include ../partials/avatars %>
</head>