/* STILI KI VELJAJO NA VSEH STRANEH */

html, body {
    font-family: 'Roboto', sans-serif!important;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    background-image: url("/images/header6.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: auto;

}

.hide-element {
    display: none;
}

.align-center {
    text-align: center;
}

.circle-container-main{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin: 0 10px 0 0;
}

.text-main {
    margin-top: -50px;
    flex-shrink: 0;
    z-index: 3;
}

.margin-zero {
    margin: 0;
}

.mdl-layout__container.has-scrolling-header .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}

.mdl-chip-small {
    height: 20px;
    padding: 0 5px;
    line-height: 18px;
    font-size: unset;
    margin-left: 5px;
}

.mdl-chip-small .mdl-chip__text {
    font-size: 12px;
}

.mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title {
    overflow: visible;
    position: absolute;
}

.align-right {
    float: right;;
}

.overflow-visible {
    overflow: visible;
}

.padding-10 {
    padding: 10px;
}

.dynamic {
    display: inline-table;
}

.padding-top-16 {
    padding-top: 16px;
}

.middle-align {
margin: auto;
}

.krivulja-1 {
    background-image: url("/images/header1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.krivulja-2 {
    background-image: url("/images/header2.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.krivulja-3 {
    background-image: url("/images/header3.svg");
    background-size: 100%;
    background-repeat: no-repeat;}

.krivulja-4 {
    background-image: url("/images/header4.svg");
    background-size: 100%;
    background-repeat: no-repeat;}

.not-empty {
    border-color: white!important;
}

.mdl-button--fab {
    height: 30px;
    width: 30px;
    min-width: 30px;
}

/*        */

/* DIALOG */

/* Spodnje metode služijo pri izgledu dialog elementa, ki se nahaja na strani index */

dialog .mdl-card {
    width: 100%;
    overflow: visible;
}

dialog .mdl-card__title {
    width: 100%;
    overflow: visible;
}

dialog .mdl-dialog__content {
    padding: 0;
}

dialog .mdl-card__supporting-text {
    max-height: 60vh;
    overflow: auto;
    width: auto;
}

.delete {
    float: left;
}

.create {
    float: right;
}

.mdl-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border-radius: 2px;
    width: 40%;
    background-color: transparent;
}
/*
.mdl-dialog__actions {
    z-index: 1;
    background-color: white;
    position: fixed;
    right: 30px;
    bottom: 5px;
    transform: translateX(0);
}*/

.dialog-content-div {
    position: relative;
    width: 100%;
    overflow-y: auto;
}
/*
.mdl-dialog__title {
    position: fixed;
    z-index: 1;
    background-color: white;
    text-align: center;
    width: calc(100% - 28px);
    padding: 0;
}

.dialog-main {
    position: fixed;
    
    transform: translateZ(0);
    
}*/

.dialog-sub {
    color: rgb(63,81,181)!important;
    font-size: 12px;
    top: 4px;
    visibility: visible;
    margin: 0;
}

#avatars .mdl-typography--subhead {
    font-weight: 400;
}

#avatars {
   margin: 8px;
   padding: 0 0 12px 0;
}

.monthly-pop .monthly-header-title {
    font-size: 1em;
}

.textfield-modal {
    width: 100%;
}
.textfield-modal-half {
    width: 100px;
}

.dialog-duo {
    font-size: initial;
    letter-spacing: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: 300;
}

/*            */

/* CHECKBOXES */

/* Izgled checkboxov */

.mdl-checkbox .mdl-checkbox__focus-helper {
    background-color: white;

}

.mdl-checkbox.is-checked .mdl-checkbox__focus-helper {
    background-color: black;
    top: 4px;
    height: 14px;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px lightgrey;
}

.mdl-checkbox .mdl-checkbox__box-outline {
    border: 2px black;
}

.mdl-checkbox .mdl-checkbox__tick-outline {
    background-color: lightgrey;

}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background-color: lightgrey;
}


/* HEADER */

/* Izgled glave na vseh straneh */

.mdl-header .circle-container {
    width: 48px;
    height: 48px;
    border-radius: 32px;
    margin: 0 10px 0 0;
}

.mdl-layout__header {
    z-index: unset;
}

.mdl-layout__header-row {
    padding-right: 0;
}

@media (max-width: 840px){
    .mdl-layout__header-row {
        padding-left: 24px;
    }
}

.mdl-layout__tab-bar-button {
    background-color: white;
    width: 24px;
}

.mdl-layout__tab-bar-button.is-active {
    color:black;
}

.mdl-menu {
    overflow: visible;
}

.mdl-layout__header-row h6 {
    margin-bottom: 50px;
}

.mdl-layout__header-row button {
    margin-bottom: 25px;
}

.mdl-menu__item .material-icons{
    vertical-align: middle;
    padding-right: 10px;
}

/*           */

/* DASHBOARD */

/* izgled strani dashboard */

.text-container {
    max-width: 4000px;
    width: calc(100% - 16px);
    margin: 0;
}

.text-content {
    border-radius: 2px;
    padding: 0px 16px;
    background-color: blue;
}

.mdl-card__title > h2 {
    width: 100%;
}

.text-layout .is-small-screen .text-content {
    padding: 0px 16px;
}

.section__text {
    color: rgba(0,0,0,0);
}

.mdl-textfield__status {
    position: relative;
    width: 70%;
    float: left;
}

.tri-card-status:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 100px;
    right: 0;
    border: 25px solid;
    border-color: white transparent transparent transparent;
}

.tri-card-no-status:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 100px;
    right: 0;
    border: 25px solid;
    border-color: white transparent transparent transparent;
}

.container .row {
    margin: 0;
    text-align: center;
}

.podatki-user a {
    padding: 0;
    min-width: 59px;
}

.card-info .mdl-card__actions{
    padding: 5px 0;
}

.card-info .material-icons {
    font-size: 32px;
}

#viberOpen img{
    width: 32px;
    height: 32px;
}

.card-info {
    position: absolute;
    width: 250px;
    min-height: 120px;
    text-align: center;
    z-index: 9999;
    height: auto;
    align-self: initial;
}

.icon {
    color: lightgrey;
}

.button-action {
    position: relative;
    display: inline-block;
    overflow: hidden;    
    line-height: 0;
    vertical-align: middle;
}

.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    width: 64px;
    margin: 5px 15px;
}

.caption {
    text-align: center;
    margin-left: -100%;
    margin-right: -100%;
}

.item .mdl-chip {
    padding: 0 6px;
}

.caption .mdl-chip__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 6em;
}

/*        */

/* FOOTER */

/* Izgled noge na vseh straneh */

.mdl-mini-footer {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
}

.mdl-mega-footer {
    padding-left: 0px;
}

.mdl-mega-footer__bottom-section {
    padding-left: 10px;
}

/*        */

/* NALOGE */

/* Izgled strani naloge */

.mdl-card-naloge {
    margin-top: -50px;
    overflow: visible;
    width: 100%;
    z-index: 7;
    min-height: unset;
}

.mdl-card-nal {
    margin-top: 0;
}

.mdl-card-search {
    width: 100%;
}

.textfield-search {
    width: 15.7%;
    margin-left: 0.2em;
    margin-right: 0.2em;
}


.mdl-card__supporting-text {
    width: auto;
}

.mdl-chip-naloge {
    float: right;
    margin-top: 5px;
}

.naloge-title_type {
    margin: 0;
    width: 100%;
}

.select-naloga {
    margin: 10px;
    width: 94%;
}

.chip-no-margin .mdl-chip__contact {
    margin-right: -16px;
}
.chip-no-margin {
    margin: 0;
}

.chip-naloge .mdl-chip__text {
    font-size: 15px;
}

.mdl-typography--subhead {
    color: rgba(0,0,0,.26);
    font-weight: 300;
}

.mdl-list__item--no-padding {
    padding: 0 10px 0 10px;
}

.chip-no-margin > .mdl-chip__contact {opacity: 0;}
.chip-no-margin > .mdl-chip__contact:nth-of-type(1) {opacity: 1;}
.chip-no-margin > .mdl-chip__contact:nth-of-type(2) {opacity: 0.8;}
.chip-no-margin > .mdl-chip__contact:nth-of-type(3) {opacity: 0.6;}
.chip-no-margin > .mdl-chip__contact:nth-of-type(4) {opacity: 0.4;}
.chip-no-margin > .mdl-chip__contact:nth-of-type(5) {opacity: 0.2;}

.block {
    display: block!important;
}

.author-chip {
    width: 48px;
    height: 48px;
}

.mdl-card-obvestilo {
    width: 100%;
    min-height: 100px;
}

.font-sporocilo {
    font-size: 24px;
    padding: 32px;
    line-height: 32px;
}

.clani-naloge--container {
    height: 100px;
    padding: 0 10px 10px 10px;
}

.ime-opis-naloge--container {
    padding: 10px 10px 0 10px;
}

#pagination {
    display: none;
}

.naloge-okno {
    z-index: 6;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

/*       */

/* CILJI */

.table-wrapper {
    overflow: auto;
}

.table-cilj {
    width: 100%;

}

.padding-zero {
    padding: 0!important;
}

.progress {
    width: 100%;
    display: table;
}

.spanCilji {
    display: table-cell;
    color: #000;
    vertical-align: middle;
    text-align: center;
    height: 20px;
}

.spanFirst {
    border-radius: 20px 0 0 20px;
}

.spanLast {
    border-radius: 0 20px 20px 0;

}

.spanOnly {
    border-radius: 20px;
    width: 100%;
    background-color: red;
}

/*         */

/* PRIJAVA */

/* Izgled strani prijava */

.send-button {
    margin: 8px 0 16px 0;
}

.util-center {
    margin: auto;
}

.util-max-512px {
    max-width: 512px;
}

.util-no-decoration {
    text-decoration: none;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    /*z-index: 4;*/
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

.card-500 .mdl-card {
    width: auto;
    max-width: 500px;
}


#avatars{
    width: 100%;
}

.avatars > input + img{
    cursor: pointer;
    border: 2px solid transparent;
}

.avatars > img{
    width: 56px;
    height: 56px;
}

.avatars > input:checked + img{
    border: 2px solid black;
}

/*                   */

/* RESPONSIVE DESIGN */

/* Različne izjeme za različne velikosti ekranov, nastavitve so po velikosti */

@media screen and (max-width: 372px) {
    .dialog-main {
        width: 100%;
    }
    .mdl-list__item--two-line {
        height: 92px;
    }
}

@media screen and (max-width: 480px) {
    .textfield-search {
        width: 100%;
    }
    .mdl-cell--3-col, .mdl-cell--3-col-phone.mdl-cell--3-col-phone {
        width: 100%;
    }

    .dialog-main {
        width: 80%;
    }
}

@media screen and (min-width: 481px) and (max-width: 689px) {
    .textfield-search {
        width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .podatki-user .mdl-card__actions {
        display: block;
    }

    .card-info .material-icons {
        font-size: 40px;
    }

    .podatki-user a {
        padding: 5px 5px;
    }

    #viberOpen img {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .card-info {
        width: 160px;
    }

    .tri-card-no-status:after {
        left: 55px;
    }

    .tri-card-status:after {
        left: 55px;
    }
}


@media screen and (max-width: 840px) {
    .mdl-hide-small {
        display: none!important;
    }

    .mdl-layout__tab-bar {
        padding-left: 20px;
    }

    .dialog-main {
        width: 60%;
    }
}

@media screen and (min-width: 840px) {
    .mdl-cell.mdl-cell--3-col {
        width: calc(27.777777777% - 16px);
    }

    .mdl-layout__tab-bar {
        padding-left: calc(8.33333333% + 8px);
    }

    .mdl-layout__header-row {
        padding-left: calc(8.33333333% + 8px);
    }
}

@media screen and (min-width: 690px) and (max-width: 1000px) {
    .textfield-search {
        width: 48.7%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
    .textfield-search {
        width: 32.2%;
    }
}

@media screen and (min-width: 1440px) {
    .mdl-cell.mdl-cell--3-col {
        width: calc(20.8333333325% - 16px);
    }

    .mdl-cell--hide-hd {
        display: none!important;
    }

    .mdl-cell-show-hd {
        display: block!important;
    }
}

@media (min-width: 1440px) {
    .mdl-cell--3-hd {
        width: calc(20.8333333325% - 16px)!important;
    }

    .caption .mdl-chip__text {
        max-width: 8em;
    }

    .item {
        margin: 5px 30px;
    }

}