html, body {
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.mdl-header .circle-container {
    width: 48px;
    height: 48px;
    border-radius: 32px;
    margin: 0 10px 0 0;
}

.circle-container-main{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin: 0 10px 0 0;
}

.mdl-layout__header {
    z-index: unset;
}

.mdl-layout__header-row {
    padding-right: 0px!important;
}

.mdl-layout__tab-bar-button {
    background-color: white;
    width: 24px;
}

.mdl-layout__tab-bar-button.is-active {
    color:black;
}

@media screen and (max-width: 840px){
    .mdl-layout__tab-bar {
        padding-left: 20px;
    }
}

.mdl-menu {
    overflow: visible;
}

.mdl-layout__header-row h6 {
    margin-bottom: 50px;
}

.mdl-layout__header-row button {
    margin-bottom: 25px;
}

.text-main {
    margin-top: -50px;
    flex-shrink: 0;
    z-index: 3;
}

.text-container {
    max-width: 4000px;
    width: calc(100% - 16px);
    margin: 0;
}

.text-content {
    border-radius: 2px;
    padding: 0px 16px;
    background-color: blue;
}

.mdl-card__title > h2 {
    width: 100%;
}

.text-layout .is-small-screen .text-content {
    padding: 0px 16px;
}


.mdl-layout__container.has-scrolling-header .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}

.mdl-chip {
    height: 20px;
    padding: 0 5px;
    line-height: 16px;
    font-size: unset;
    margin-left: 5px;
}

.mdl-chip__text {
    font-size: 10px;
}

.mdl-mini-footer {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
}

.mdl-mega-footer {
    padding-left: 0px;
}

.mdl-mega-footer__bottom-section {
    padding-left: 10px;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 1340px) and (min-device-width: 787px) {
    .mdl-list__item--two-line {
        height: 80px;
    }
}

.mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title {
    overflow: visible;
    position: absolute;
}

.card-wide > .mdl-card__supporting-text {
    height: 100%;
}


/* NALOGE */

.mdl-card-naloge {
    margin-top: -50px;
    overflow: visible;
    width: 100%;
}

.mdl-card-naloge {
    margin-top: -50px;
    overflow: visible;
    width: 100%;
}

.mdl-card-search {
    width: 100%;
}

.mdl-textfield {
    width: 15%;
    margin-left: 4px;
    margin-right: 4px;
}

.mdl-card__supporting-text {
    width: auto;
}

@media screen and (max-width: 900px) {
    .mdl-textfield {
        width: 30%;
    }
}

@media screen and (max-width: 839px) {
    .mdl-hide-small {
        display: none!important;
    }
}

@media screen and (min-width: 840px) {
    .mdl-cell.mdl-cell--3-col {
        width: calc(27.777777777% - 16px);
    }
}

@media screen and (min-width: 1440px) {
    .mdl-cell.mdl-cell--3-col {
        width: calc(20.8333333325% - 16px);
    }

    .mdl-cell--hide-hd {
        display: none!important;
    }

    .mdl-cell-show-hd {
        display: block!important;
    }
}

.mdl-chip-naloge {
    float: right;
    margin-top: 5px;"
}


/* CILJI */

.table-cilj {
    width: 100%
}

.padding-zero {
    padding: 0!important;
}

/* CHECKBOXES */

.mdl-checkbox .mdl-checkbox__focus-helper {
    background-color: white;
}

.mdl-checkbox.is-checked .mdl-checkbox__focus-helper {
    background-color: black;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px lightgrey;
}

.mdl-checkbox .mdl-checkbox__tick-outline {
    background-color: lightgrey;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background-color: lightgrey;
}
