<div class="text-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div  class="mdl-cell mdl-cell--10-col">
        <div class="mdl-card mdl-shadow--2dp mdl-card-naloge text-main">
            <div class="mdl-card__title mdl-color--red-400">
                <h2 class="mdl-card__title-text mdl-color-text--white">Skupni cilji družine</h2>
                <div class="mdl-card__actions">
                    <button id="dodajnalogo" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float: right">
                        DODAJ NOV CILJ
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="mdl-card__supporting-text padding-zero">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-cilj">
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <div class="circle-container-main mdl-color--grey"></div>
                                <span class="mdl-list__item-primary-content">
                                    <span class="mdl-color-text--black">Družinske počitnice</span>
                                    <span class="mdl-list__item-sub-title mdl-color-text--grey">Odplujemo v juliju</span>
                                </span>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                            Začetek 1.1.2017
                        </td>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                        </td>
                        <td>
                            <span class="mdl-chip mdl-color--red-400 mdl-color-text--white">
                                <span class="mdl-chip__text">+100 xp</span>
                            </span>
                        </td>
                        <td>$2.90</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <div class="circle-container-main mdl-color--grey"></div>
                                <span class="mdl-list__item-primary-content">
                                    <span class="mdl-color-text--black">Letna družinska srečanja</span>
                                    <span class="mdl-list__item-sub-title mdl-color-text--grey">Dobra volja in babičina kulinarika</span>
                               </span>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                            Začetek 1.1.2017
                        </td>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                            Konec: 31.11.2017
                        </td>
                        <td>
                            <span class="mdl-chip mdl-color--red-400 mdl-color-text--white">
                                <span class="mdl-chip__text">+100 xp</span>
                            </span>
                        </td>
                        <td>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cilj" for="checkbox-c1" style="float: right">
                                <input type="checkbox" class="mdl-checkbox__input" id="checkbox-c1" checked/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric padding-zero"> <div class="mdl-list__item mdl-list__item--two-line">
                                <div class="circle-container-main mdl-color--grey"></div>
                                <span class="mdl-list__item-primary-content">
                                    <span class="mdl-color-text--black">Več fizične aktivnosti</span>
                                    <span class="mdl-list__item-sub-title mdl-color-text--grey">Če se skupaj potrudimo, nam bo uspelo</span>
                                </span>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                            Začetek 1.1.2017
                        </td>
                        <td class="mdl-data-table__cell--non-numeric padding-zero">
                            Konec: 31.11.2017
                        </td>
                        <td>
                        </td>
                        <td>10</td>
                    </tr>
                    </tbody>
            </table>
            </div>
        </div>
    </div>
</div>