<div class="text-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="text-main text-content mdl-color--primary mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col mdl-grid ">
        <div class="mdl-card section__text mdl-color--primary mdl-cell mdl-cell--5-col mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--order-1-desktop mdl-cell--order-1-tablet mdl-cell--order-1-phone ">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-color-text--white">Opomniki</h2>
            </div>
            <div class="mdl-card__supporting-text padding-zero">
                <ul class=" mdl-list margin-zero padding-zero">
                    <% for(event in opomniki) { %>
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <div class="circle-container-main mdl-color--grey mdl-cell--hide-phone mdl-cell--hide-tablet"></div>
                        <span class="mdl-list__item-primary-content">
                            <span class="mdl-color-text--white "><%= event.ime %></span>
                            <span class="mdl-chip mdl-color--orange mdl-color-text--white">
                                <span class="mdl-chip__text">+100 xp</span>
                            </span>
                            <span class="mdl-list__item-sub-title"><%= event.avtor %></span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="<%= event.ime %>">
                                <input type="checkbox" id="<%= event.ime %>" name="checkbox" class="mdl-checkbox__input" checked="checked"/>
                            </label>
                        </span>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="mdl-card section__text mdl-cell mdl-color--primary mdl-cell--5-col mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--order-2-desktop mdl-cell--order-3-tablet mdl-cell--order-3-phone">
            <div class="mdl-card__supporting-text" style="width: 95%;">
                <div class="mdl-textfield mdl-js-textfield mdl-color-text--white" style="width: 100%">
                    <input class="mdl-textfield__input mdl-textfield__status" id="tt1" type="text" id="sample1">
                    <label class="mdl-textfield__label mdl-color-text--white" for="sample1">Danes je kar bizi dan</label>
                    <div class="mdl-tooltip mdl-color-text--white" style="background: transparent;" data-mdl-for="tt1">
                        Moj status
                    </div>
                    <label class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--blue-800" for="sample-input" style="position:relative;float: right; width: 20%; bottom: 10px;">
                        <i class="material-icons">done</i>&nbsp&nbspObjavi</label>
                </div>
            </div>
        </div>
        <div class="mdl-card section__text mdl-color--primary mdl-cell mdl-cell--5-col mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--order-3-desktop mdl-cell--order-2-tablet mdl-cell--order-2-phone">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-color-text--white">Fizična aktivnost moje družine</h2>
            </div>
            <div class="mdl-card__supporting-text">

            </div>
        </div>
    </div>
</div>
<div class="text-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet">
        <div class="mdl-card__title mdl-color--orange-300">
            <h2 class="mdl-card__title-text mdl-color-text--white">Skupni cilji družine</h2>
            <div class="mdl-card__actions">
                <button id="dodajcilj" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored align-right" onclick="dodajNovCilj()">
                    DODAJ NOV CILJ
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
        <ul class=" mdl-list" id="cilji">
            <li class="mdl-list__item mdl-list__item--two-line">
                <div class="circle-container-main mdl-color--grey"></div>
                <span class="mdl-list__item-primary-content">
                            <span class="mdl-color-text--black">Družinske počitnice</span>
                            <span class="mdl-list__item-sub-title mdl-color-text--grey">Odplujemo v juliju</span>
                        </span>
                <span class="mdl-list__item-secondary-content">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input" checked="checked"/>
                            </label>
                        </span>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line">
                <div class="circle-container-main mdl-color--grey"></div>
                <span class="mdl-list__item-primary-content">
                           <span class="mdl-color-text--black">Letna družinska srečanja</span>
                           <span class="mdl-list__item-sub-title mdl-color-text--grey">Dobra volja in babičina kulinarika</span>
                       </span>
                <span class="mdl-list__item-secondary-content">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect " for="checkbox-5">
                                <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input" checked="checked"/>
                            </label>
                        </span>
                </span>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line">
                <div class="circle-container-main mdl-color--grey"></div>
                <span class="mdl-list__item-primary-content">
                            <span class="mdl-color-text--black">Več fizične aktivnosti</span>
                            <span class="mdl-list__item-sub-title mdl-color-text--grey">Če se skupaj potrudimo, nam bo uspelo</span>
                        </span>
                <span class="mdl-list__item-secondary-content">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect " for="checkbox-6">
                                <input type="checkbox" class="mdl-checkbox__input" id="checkbox-6" checked="checked"/>
                            </label>
                        </span>
            </li>
        </ul>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet">
        <div class="mdl-card__title mdl-color--blue-300">
            <h2 class="mdl-card__title-text mdl-color-text--white">Predlog za aktivnost</h2>
            <div class="mdl-card__actions">
                <button id="dodajnalogo" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored align-right">
                    DODAJ MED NALOGE
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-list">
                <div class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-color-text--black mdl-typography--font-bold" id="ime_aktivnosti">Moški večer</span>
                                    <span class="mdl-chip mdl-color--orange mdl-color-text--white">
                                        <span class="mdl-chip__text">+100 xp</span>
                                    </span>
                            </span>
                </div>
            </div>
            <p style="padding-left: 16px;" id="opis_aktivnosti">
                Druženje očetov in sinov vseh generacij bistevno prispeva k
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                et faucibus risus. DOnes eusmod metus ac massa eleifend malesuada.
                Phasellus venenatis sit amet est nec finibus.
            </p>
            <h7 class="mdl-color-text--black" id="clani_aktivnosti" style="padding-left: 16px;">Za: moški del družine (Janez, Jan, Janko)</h7>
        </div>
    </div>
</div>