
<div class="text-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div  class="mdl-cell mdl-cell--10-col">
        <div class="text-container mdl-card mdl-shadow--2dp mdl-card-naloge text-main" style="overflow: visible">
            <div class="mdl-card__title mdl-color--blue-300">
                <h2 class="mdl-card__title-text mdl-color-text--white">Išči po nalogah</h2>
                <div class="mdl-card__actions">
                    <button id="dodajnalogo" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float: right">
                        DODAJ NOVO NALOGO
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="mdl-card__supporting-text" style="overflow: visible">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="sample1" readonly>
                    <input type="hidden" value="" name="sample1">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="sample1" class="mdl-textfield__label">Za koga</label>
                    <ul for="sample1" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="DEU">Germany</li>
                        <li class="mdl-menu__item" data-val="BLR">Belarus</li>
                        <li class="mdl-menu__item" data-val="RUS">Russia</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="sample2" readonly>
                    <input type="hidden" value="" name="sample2">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="sample2" class="mdl-textfield__label">Status</label>
                    <ul for="sample2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="DEU">Germany</li>
                        <li class="mdl-menu__item" data-val="BLR">Belarus</li>
                        <li class="mdl-menu__item" data-val="RUS">Russia</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="sample3" readonly>
                    <input type="hidden" value="" name="sample3">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="sample3" class="mdl-textfield__label">Kategorija</label>
                    <ul for="sample3" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="DEU">Germany</li>
                        <li class="mdl-menu__item" data-val="BLR">Belarus</li>
                        <li class="mdl-menu__item" data-val="RUS">Russia</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="sample4" readonly>
                    <input type="hidden" value="" name="sample4">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="sample4" class="mdl-textfield__label">Avtor</label>
                    <ul for="sample4" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="DEU">Germany</li>
                        <li class="mdl-menu__item" data-val="BLR">Belarus</li>
                        <li class="mdl-menu__item" data-val="RUS">Russia</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="sample5" readonly>
                    <input type="hidden" value="" name="sample5">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="sample5" class="mdl-textfield__label">V koledarju</label>
                    <ul for="sample5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="DEU">Germany</li>
                        <li class="mdl-menu__item" data-val="BLR">Belarus</li>
                        <li class="mdl-menu__item" data-val="RUS">Russia</li>
                    </ul>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="sample6" readonly>
                    <input type="hidden" value="" name="sample6">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="sample6" class="mdl-textfield__label">Vezan Cilj</label>
                    <ul for="sample6" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="DEU">Germany</li>
                        <li class="mdl-menu__item" data-val="BLR">Belarus</li>
                        <li class="mdl-menu__item" data-val="RUS">Russia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
